<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>

<body>
    <h1>Users Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas consectetur hic inventore. Dolore earum
        dolorem, atque blanditiis ratione modi dignissimos suscipit est maiores odit necessitatibus amet quae
        repellendus? Esse tempore, voluptas vitae dolorum eos vero, minima eum exercitationem ex quibusdam tempora,
        earum molestiae quos ut dignissimos praesentium. Consectetur ipsa cupiditate, odit explicabo accusamus maiores
        nisi!</p>

    <ol>
        <% for(let i=0; i< users.length;i++){%>
            <li>
                <%= users[i] %>
            </li>

            <%}%>
    </ol>


</body>

</html>